<%% if @<%= plural_table_name %>.present? %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
<% attributes.reject(&:password_digest?).each do |attribute| -%>
        <th><%%= t '.<%= attribute.human_name.downcase %>' %></th>
<% end -%>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%%= render partial: '<%= plural_table_name %>/list/<%= singular_table_name %>', collection: @<%= plural_table_name %> %>
    </tbody>
  </table>
<%% else %>
  <%%= render "empty" %>
<%% end %>
